{% extends 'our_app/padre.html' %}

{% load static %}

{%block titulo%}
<h1 class="mb-5">Titulo de la pagina de staff.</h1>
{% endblock %}

{% block contenido_que_cambia  %}
<br>
<div class="mx-auto" style="width: 200px;">
    <form action="{% url 'staff' %}" method="POST"> {% csrf_token %}
        <table class="table">
            {{ formulario.as_table }}
        </table>
        <input class="btn btn-primary btn-xs" type="submit" value="Enviar">
        <br>
        <br>
    </form>
</div>
{% endblock %}